body{
    margin: 0px; 
    padding: 0px;
    overflow-x: hidden;
}
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 99;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.flex-box-head{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    column-gap: 30px;
    margin-right: 25px;
}

.logo{
    padding: 5px 20px 5px 35px;
    width: 50%;
    height: auto;
}
.logo:hover{
    cursor: pointer;
}
.nav-btn:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.hidden{
    display: hidden;
}
.visible{
    color: black;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.5s ease-in-out;
}
.flex-box-intro{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
}
.flex-box-intro h1{
    margin: 0px 0px 35px 0px;
    padding: 0px;
    font-size: 85px;

    position: relative;
}
.intro-pic{
    width: 400px;
}
.container-grid{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: auto;
    justify-content: baseline;
    column-gap: 25px;
}
.background-gif{
    position: absolute;
    top: -25%;
    right: -30%;
    z-index: -1;

    width: 120px;
    height: auto;

    animation-name: fossi;
    animation-duration:5s;
    animation-delay: 0ms;
}
@keyframes fossi{
    0% {right: 220%}
    100% {right: -30%}
}